<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Document</title>
</head>
<body>
    <nav id="navbar">
        <ul>
            <div id="logo"> 
              <img src="/static/image/logo.jpg", alt="">
            </div>
            <li> <a href="/"> Home </a></li>
            <li> <a href="/view"> Our Customers </a></li>
            <li> <a href="/transaction"> Transaction history </a></li>
        </ul>
    </nav>
    <section id="home">
        <h1 id="online">National Bank Internet Banking </h1>
        <div id="card">
            <div class="card">
                <img class="cus" src="\static\image\like.png" alt="">
                <div>
                    <p class="adv">Fast transactions</p>
                </div>
            </div>
        </div>
        <div id="card">
            <div class="card">
                <div>
                    <p class="adv">Security Threats</p>
                </div>
                <img class="cus" src="\static\image\dislike.png" style="margin-left: 16px;">
            </div>
        </div>
        <div id="card">
            <div class="card">
                <img class="cus" src="\static\image\wait.png" alt="">
                <div>
                    <p class="adv">No Waiting</p>
                </div>
            </div>
        </div>
        <div id="card">
            <div class="card">
                <div>
                    <p class="adv">24 X 7 Facility</p>
                </div>
                <img class="cus" src="\static\image\service.png" style="margin-left: 41px;
                height: 6.7vw;">
            </div>
        </div>
    </section>
    <section id="icon">
        <div id="out">
            <div class="in"> 
                <img src="/static/image/cus.jpg", alt="">
                <button class="press"><a href="/view"> Our Customers</a></button>
            </div>
            <div class="in">
                <img src="/static/image/dd.jpg", alt="">
                <button class="press"><a href="/transaction"> Transaction History</a></button>
            </div>
        </div>
    </section>
    <section id="slideshow">
        <div class="content">
            <img class="mySlides" src="/static/image/familyedit.jpg" style="width:100%">
            <img class="mySlides" src="/static//image/employee.jpg" style="width:100%">
        </div>
    </section>
    <script src="/static/slideshow.js"></script>
    <footer id="footer">Developed by Meenal | @TheSparksFoundation</footer>
</body>
</html>