
#body{
  background-image: url("trans.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 700px;
}
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 87%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
    font-size: 26px;
  }
  

  #customers tr:hover {background-color: rgb(172, 201, 240);}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
    border: 2px solid black;
  }
  #customers td{
      border: 2px solid black;
      font-weight: bold;
  }
  thead{
      border: 2px solid;
  }

#his {
    display: inline-block;
    height: 70px;
    position: relative;
    animation: mymove 5s infinite;
    animation-delay: 2s;
    color: red;
    font-weight: bold;
    border: 2px solid;
    border-radius: 5px;
    background-color: rgb(248, 208, 172);
    padding: 0px 59px;
    margin-top: 95px;

  }
  
  @keyframes mymove {
    from {left: 0px;}
    to {left: 40%;}
  }